Repository elastic/apm-agent-ios, pull requests merged in 2025-03, with the labels that each got.

#252 [docs] Add the new docs CI checks
  .github/workflows/comment-on-asciidoc-changes.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: Team:Docs, agent-ios, agent-mobile, community, triage

#253 [docs] Migrate docs from AsciiDoc to Markdown
  docs/configuration.asciidoc
  docs/docset.yml
  docs/index.asciidoc
  docs/instrumentation.asciidoc
  docs/intro.asciidoc
  docs/reference/configuration.md
  docs/reference/index.md
  docs/reference/instrumentation.md
  docs/reference/set-up-apm-ios-agent.md
  docs/reference/supported-technologies.md
  docs/reference/toc.yml
  docs/release-notes.asciidoc
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
  docs/release-notes/toc.yml
  docs/supported-tech.asciidoc
  docs/troubleshooting.asciidoc
Labels: Team:Docs, agent-ios, agent-mobile, community, triage

#255 EDOT support
  Package.swift
  Sources/Tests/apm-agent-iosTests/AgentConfigManagerTests.swift
  Sources/Tests/apm-agent-iosTests/AgentConfigurationTest.swift
  Sources/apm-agent-ios/AgentConfigBuilder.swift
  Sources/apm-agent-ios/AgentConfiguration.swift
  Sources/apm-agent-ios/Configuration/AgentConfigManager.swift
  Sources/apm-agent-ios/Configuration/CentralConfigFetcher.swift
  docs/reference/configuration.md
Labels: agent-ios, agent-mobile, community, triage

#259 Update labeler.yml
  .github/workflows/labeler.yml
Labels: agent-ios, agent-mobile, community, triage

#260 Updates navigation titles for release notes
  docs/release-notes/known-issues.md
Labels: Team:Docs

#261 [docs] Miscellaneous docs clean up
  docs/docset.yml
  docs/reference/configuration.md
  docs/reference/images/dynamic-config.svg
Labels: documentation, Team:Docs, agent-ios, agent-mobile, community, triage
