Repository elastic/apm-agent-ios, pull requests merged in 2025-04, with the labels that each got.

#262 Release notes: Change Heading to H2
  docs/release-notes/index.md
Labels: agent-ios, agent-mobile

#263 [DOCS] Updates blank known issues page
  docs/release-notes/known-issues.md
Labels: Team:Docs

#264 [docs] Fix image paths for docs-assembler
  docs/reference/configuration.md
Labels: documentation, Team:Docs, agent-ios, agent-mobile, community, triage
