Repository elastic/apm-agent-ios, pull requests merged in 2025-05, with the labels that each got.

#268 github-action: add supported GitHub commands
  .github/workflows/github-commands-comment.yml
Labels: agent-ios, agent-mobile

#266 Allow signal filters to be mutable
  Sources/apm-agent-ios/AgentConfigBuilder.swift
  Sources/apm-agent-ios/OpenTelementry Extensions/ElasticLogRecordProcessor.swift
  Sources/apm-agent-ios/OpenTelementry Extensions/ElasticMetricProcessor.swift
  Sources/apm-agent-ios/OpenTelementry Extensions/ElasticSpanProcessor.swift
  Sources/apm-agent-ios/OpenTelementry Extensions/SignalFilter.swift
  Sources/apm-agent-ios/OpenTelemetryInitializer.swift
Labels: agent-ios, agent-mobile, community, triage

#271 added mutableLogRecord so attributes can be appended during filtering
  Sources/Tests/apm-agent-iosTests/ElasticLogRecordProcessorTest.swift
  Sources/Tests/apm-agent-iosTests/SessionSpanProcessorTest.swift
  Sources/apm-agent-ios/AgentConfigBuilder.swift
  Sources/apm-agent-ios/AgentConfiguration.swift
  Sources/apm-agent-ios/OpenTelementry Extensions/ElasticLogRecordProcessor.swift
  Sources/apm-agent-ios/OpenTelementry Extensions/Helpers/MutableLogRecord.swift
  Sources/apm-agent-ios/OpenTelemetryInitializer.swift
Labels: agent-ios, agent-mobile, community, triage

#257 [docs] Remove AsciiDoc changelog file
  CHANGELOG.asciidoc
  README.md
  RELEASE.md
Labels: documentation, Team:Docs, agent-ios, agent-mobile, community, triage
